@use '@htv/ui-kit/styles/mixins';
@use '@htv/ui-kit/styles/colors';
@use '@htv/ui-kit/styles/units';

.container {
  height: 100%;

  & > div {
    width: 100%;
    height: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: units.$section-width * 0.75 !important;
  margin-top: 2rem;
  height: 100%;
}

.header {
  display: flex;
  align-items: flex-end;
}

.backButton {
  text-decoration: none;
  margin-bottom: 1rem;
  & svg {
    margin-left: -0.5rem;
    width: 1.25rem;
    height: auto;
  }
}

.body {
  max-width: units.$section-width * 0.4;
  width: 100%;
  margin: 0 auto;
}

.npm {
  padding: 0.5rem 0;

  &::before {
    content: '$';
    margin-right: 1.5rem;
  }
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
  grid-gap: 1rem;
}

.line {
  border: 1px solid colors.css-color(gray);
  margin: 2.5rem 5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.sign-in {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  margin: 1.5rem 0 2.75rem;
}

.password-field {
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
}

.link {
  @include mixins.transition(color);
  text-decoration: none;

  &__forgot {
    margin-left: auto;
    &:hover,
    &:focus {
      color: colors.css-color(white, $opacity: 0.8);
    }

    &:active {
      color: colors.css-color(white, $opacity: 0.6);
    }
  }

  &__signup {
    color: colors.css-color(lime);
    margin-left: 0.75rem;

    &:hover,
    &:focus {
      color: colors.css-color(lime, $opacity: 0.8);
    }

    &:active {
      color: colors.css-color(lime, $opacity: 0.6);
    }
  }
}
