.container {
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 'b c a';
  align-items: stretch;
  grid-gap: 1rem;
  display: grid;
  z-index: 100;
  height: 5rem;
}

.section {
  grid-template-columns: repeat(auto-fit, minmax(1px, max-content));
  align-items: center;
  grid-gap: 1rem;
  display: grid;

  &__before {
    grid-area: b;
  }

  &__center {
    justify-content: center;
    grid-area: c;
  }

  &__after {
    justify-content: end;
    grid-area: a;
  }
}
