@use "@htv/ui-kit/styles/colors";
@use "@htv/ui-kit/styles/mixins";
@use "@htv/ui-kit/styles/units";

.container {
  height: 100%;

  & > div {
    width: 100%;
    height: 100%;
  }
}

.npm {
  margin: 2rem 0 0.5rem;
  &::before {
    content: '$';
    margin-right: 1rem;
  }
}

.content {
  max-width: 64rem;
  margin: 0 auto;
}

.header {
  grid-template-columns: 1fr auto;
  margin-bottom: 1rem;
  grid-gap: 0.5rem;
  display: grid;

  @include mixins.media(tablet) {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 2.25rem 2.5rem;
}

.footer {
  justify-content: center;
  margin-top: 4rem;
  display: flex;
}
