@use '@htv/ui-kit/styles/colors';

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem 1.875rem;
  margin-bottom: 1.25rem;
}

.span_1 {
  grid-column: 1;
}

.required {
  color: colors.css-color(red);
  margin-bottom: -0.3rem;
  margin-left: 0.375rem;
  font-size: 1.1rem;
  line-height: 0;
}

.fileDropper {
  margin-top: 1.25rem;
}
