@use '@htv/ui-kit/styles/colors';
@use '@htv/ui-kit/styles/fonts';

@include fonts.init('@htv/ui-kit/assets/fonts/');
@include colors.init;

:global {
  #___gatsby,
  #gatsby-focus-wrapper,
  body {
    height: 100%;
  }

  #gatsby-focus-wrapper {
    display: flex;
    flex-direction: column;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  body {
    padding: 0;
    margin: 0;
  }
}

.content {
  flex-grow: 1;
}
