@use "@htv/ui-kit/styles/colors";

.submittedText {
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: normal;
}

.acceptedText {
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: normal;
    color: colors.css-color(lime);
}

.declinedText {
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: normal;
    color: colors.css-color(red);
}

.statusText {
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.applicationButton {
    float: right;
    margin-right: 1.5rem;
}

.appDueText {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    color: colors.css-color(gray);
}
