@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #06101E;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-scp: var(--font-source-code-pro);
    --font-ecb: var(--font-euclid-circular-b);

    /* Colours */
    --color-black: #06101E;
    --color-darkblue: #1C4582;
    --color-blue: #485B9B;
    --color-indigo: #1A427D;
    --color-green: #A5D6A7;
    --color-lightgreen: #81C470;
    --color-darkgreen: #6EAC5E;
    --color-aquamarine: #6B8F9F;
    --color-white: #FFF;
    --color-cream: #F5F3E7;
    --color-grey: #9B9EA1;
    --color-bgblue: #0B1C34;        /* for textfield background*/

}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-scp), var(--font-ecb), Arial, Helvetica, sans-serif;
}
