@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #06101E;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-scp: var(--font-source-code-pro);
    --font-ecb: var(--font-euclid-circular-b);

    /* Colours */
    --color-black: #06101E;
    --color-darkblue: #1C4582;
    --color-blue: #485B9B;
    --color-green: #A5D6A7;
    --color-lightgreen: #81C470;
    --color-darkgreen: #6EAC5E;
    --color-aquamarine: #6B8F9F;
    --color-white: #FFF;
    --color-cream: #F5F3E7;
    --color-grey: #9B9EA1;

    /* Animations */
    --animate-fade-in-scale: fade-in-scale 4s ease-out;
    @keyframes fade-in-scale {
        0% {
        opacity: 0;
        transform: scale(0.25);
        }
        100% {
        opacity: 1;
        transform: scale(1);
        }
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-scp), var(--font-ecb), Arial, Helvetica, sans-serif;
}
