@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #06101e;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
  button:disabled {
    @apply cursor-not-allowed;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-scp: var(--font-source-code-pro);
  --font-ecb: var(--font-euclid-circular-b);

  /* Colours */
  --color-black: #06101e;
  --color-darkblue: #1c4582;
  --color-blue: #485b9b;
  --color-dropdownblue: #183766;
  --color-dropdownblack: #0b1c34;
  --color-indigo: #1a427d;
  --color-green: #a5d6a7;
  --color-lightgreen: #81c470;
  --color-darkgreen: #6eac5e;
  --color-red: #ff5552;
  --color-aquamarine: #6b8f9f;
  --color-white: #fff;
  --color-cream: #f5f3e7;
  --color-grey: #9b9ea1;
  --color-darkgrey: #979797;
  --color-lightgrey: #bababa;
  --color-bgblue: #0b1c34; /* for textfield background */
  --color-midnight: #060f1c;
  --color-gold: #edce6880;
  --color-gray: #bababa;
}

/* Hide scrollbar using no-scrollbar class */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll-animate {
    transition:
      opacity 0.5s ease-out,
      transform 0.5s ease-out;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-euclid-circular-b),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  overflow-x: hidden;
  height: auto;
}

/* For the Hack the Valley Title on Landing Page */
.text-stroke {
  -webkit-text-stroke: 1px white;
}
