.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.sign {
    max-width: 26rem;
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.label {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0;
}

.text {
    margin-bottom: 2rem;

    &__column {
        display: flex;
        flex-direction: column;
    }
}