@use "@htv/ui-kit/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

.sign {
  max-width: 26rem;
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.label {
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  margin: 0;
}

.text {
  margin-bottom: 2rem;

  &__column {
    display: flex;
    flex-direction: column;
  }
}

.sponsors {
  grid-template-columns: 1fr;
  box-sizing: border-box;
  max-width: 70rem;
  padding: 2.75rem;
  grid-gap: 1rem;
  display: grid;
  width: 100%;
}

.sponsors__list {
  justify-content: space-evenly;
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;
}

.sponsor__link {
  @include mixins.transition(transform);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  height: 100%;

  &:hover {
    transform: scale(1.2);
  }
}

.sponsor__asset {
  & img {
    height: calc(var(--scale) * 0.25rem);
    width: auto;
  }
}
