@use '@htv/ui-kit/styles/mixins';
@use '@htv/ui-kit/styles/colors';

.section {
  align-items: center;
  display: flex;

  &--list {
    list-style-type: none;
    position: relative;
    margin: 0.8rem 0;
    padding: 0;

    @include mixins.media(laptop) {
      display: none;
    }
  }

  &--before {
    margin-right: auto;
    flex-basis: 10rem;
    flex-grow: 1;
  }

  &--after {
    justify-content: flex-end;
    align-self: stretch;
    margin-left: auto;
    flex-basis: 10rem;
    flex-grow: 1;
  }
}

.logo {
  @include mixins.transition(color);
  color: colors.css-color(white);
  display: flex;

  &:hover {
    color: colors.css-color(lime);
  }
}

.item {
  text-decoration: none;
  padding: 1rem 1.8rem;
  display: block;
}

.button {
  padding: 0.6rem 1.5rem;
  margin-right: 1.5rem;
  font-size: 0.9rem;

  @include mixins.media(laptop) {
    display: none;
  }
}

.menu {
  display: none;
  @include mixins.media(laptop) {
    margin: 0.86rem 1rem 0.86rem 0;
    display: flex;
  }
}

.line {
  @include mixins.transition(opacity);
  background-color: colors.css-color(lime);
  position: absolute;
  height: 2px;
  opacity: 0;
  bottom: 0;
  right: 0;

  left: var(--left, 0px);
  width: var(--width, 0px);

  &--animated {
    @include mixins.transition(width left opacity);
    opacity: 1;
  }
}

.banner {
  position: relative;
  overflow: visible;
  display: block;
  width: 4.6rem;
  height: 100%;

  &__content {
    position: absolute;
    display: block;
    height: auto;
    width: 100%;
  }
}
