@use '@htv/ui-kit/styles/mixins';
@use '@htv/ui-kit/styles/colors';

.logoContainer {
  @include mixins.transition(color);
  color: colors.css-color(white);
  display: flex;

  &:hover {
    color: colors.css-color(lime);
  }
}

.logo {
  width: 2rem;
}

.items {
  list-style-type: none;
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;

  @include mixins.media(laptop) {
    display: none;
  }
}

.item {
  text-decoration: none;
  padding: 1rem 1.8rem;
  display: block;
}

.button {
  padding: 0.6rem 1.5rem;
  font-size: 0.9rem;

  @include mixins.media(laptop) {
    font-size: 1rem;
  }

  &__mobile {
    display: none !important;
    @include mixins.media(laptop) {
      display: flex !important;
    }
  }

  &__desktop {
    display: flex !important;
    @include mixins.media(laptop) {
      display: none !important;
    }
  }
}

.line {
  @include mixins.transition(opacity);
  background-color: colors.css-color(lime);
  position: absolute;
  height: 2px;
  opacity: 0;
  bottom: 0;
  right: 0;

  left: var(--left, 0px);
  width: var(--width, 0px);

  &__animated {
    @include mixins.transition(width left opacity);
    opacity: 1;
  }
}

.bannerContainer {
  align-self: stretch;
  position: relative;
  overflow: visible;
  display: block;
  width: 4.6rem;
}

.banner {
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
}
