@use '@htv/ui-kit/styles/colors';

.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 1.875rem;

  &__error .checkbox__control {
    border-color: colors.css-color(red);
  }
}

.checkbox__control {
  display: inline-grid;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid colors.css-color(white);
  border-radius: 2px;

  svg {
    display: none;
  }
}

.checkmarkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.15s ease-in;
}

.checkbox__input {
  display: grid;
  grid-template-columns: 1fr;

  > * {
    grid-area: none;
  }

  input {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0;
    opacity: 0;

    &:checked + .checkbox__control {
      border-color: colors.css-color(lime);

      .checkmarkContainer {
        background-color: colors.css-color(lime);
      }

      svg {
        display: block;
      }
    }

    &:disabled + .checkbox__control {
      border-color: colors.css-color(gray);

      .checkmarkContainer {
        background-color: colors.css-color(gray);
      }
    }

    &:focus + .checkbox__control {
      outline: colors.css-color(lime) solid 1px;
      box-shadow: 0 0px 8px colors.css-color(lime);
    }
  }
}
