@use '@htv/ui-kit/styles/mixins';
@use '@htv/ui-kit/styles/colors';
@use '@htv/ui-kit/styles/units';

.container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.items {
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  padding: 0;
}

.item {
  @include mixins.transition(background-color);
  text-decoration: none;
  border-radius: 0.3rem;
  align-items: center;
  padding: 0.75rem;
  margin: 0 2rem;
  display: flex;

  &:hover,
  &:focus {
    background-color: colors.css-color(white, $opacity: 0.06);
  }

  &:active {
    background-color: colors.css-color(white, $opacity: 0.12);
  }

  @include mixins.media(tablet) {
    margin: 0 1rem;
  }
}

.icon {
  margin-right: 1rem;
  flex-shrink: 0;
  display: flex;
  width: 1.2rem;
  height: auto;

  @include mixins.media(tablet) {
    margin-right: 0;
  }
}

.mlh {
  @include mixins.transition(color);
  margin: 2rem 0;

  &:hover,
  &:focus {
    color: colors.css-color(lime);
  }

  &:active {
    color: colors.css-color(lime, hover);
  }
}

.label {
  @include mixins.media(tablet) {
    display: none;
  }
}
