@use '@htv/ui-kit/styles/mixins';
@use '@htv/ui-kit/styles/colors';
@use '@htv/ui-kit/styles/units';

.container {
    height: 100%;
    margin-bottom: 1rem;
  
    & > div {
      width: 100%;
      height: 100%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 64rem;
    margin-top: 2rem;
    height: 100%;
}

.header {
    display: flex;
    align-items: flex-end;
}

.backButton {
    text-decoration: none;
    margin-bottom: 1rem;
    & svg {
        margin-left: -0.5rem;
        width: 1.25rem;
        height: auto;
    }
}

.body {
    max-width: units.$section-width * 0.4;
    width: 100%;
    margin: 0 auto;
}

.npm {
    padding: 0.5rem 0;

    &::before {
        content: '$';
        margin-right: 1rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.send-email {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin: 2.5rem 0 2.75rem;
  
    @include mixins.media(tablet) {
      width: 100%;
    }
}

.email-instructions {
    margin: 2.75rem 0 2.5rem;
    display: inline-block;
  
    @include mixins.media(tablet) {
      width: 100%;
    }
}

.link {
    @include mixins.transition(color);
    text-decoration: none;
  
    &__signin {
        color: colors.css-color(lime);
        margin-left: 0.75rem;
    
        &:hover,
        &:focus {
            color: colors.css-color(lime, $opacity: 0.8);
        }
    
        &:active {
            color: colors.css-color(lime, $opacity: 0.6);
        }
    }
}
  
