.wrap-accordion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.transparent-q-m-style {
  position: absolute;
  right: -3%;
  width: 34.6875rem;
  height: 17.375rem;
  opacity: 40%;
}

.filled-q-m-style {
  position: absolute;
  left: -4.5%;
  width: 31.5625rem;
  height: 17.125rem;
  transform: translate(0, -60%);
  opacity: 40%;
}

.wrap-section {
  position: relative;
}
