@use '@htv/ui-kit/styles/mixins';
@use '@htv/ui-kit/styles/colors';
@use '@htv/ui-kit/styles/units';

.container {
  height: 100%;

  & > div {
    width: 100%;
    height: 100%;
  }
}

.section {
  flex-direction: column;
  padding: 2rem 0;
  max-width: 65rem;
  display: flex;
}

.frame {
  padding: 2rem;
  border-top-left-radius: 0;
  z-index: 1;
}

.header {
  padding-bottom: 1.5rem;
}

.tab {
  @include mixins.transition(background-color transform);
  background-color: colors.css-color(darkviolet, $opacity: 0.4);
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  transform: translateY(0.5rem);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border: none;

  &:hover, &:focus {
    background-color: colors.css-color(darkviolet, $opacity: 0.4, $modifier: hover);
  }

  &:active {
    background-color: colors.css-color(darkviolet, $opacity: 0.4, $modifier: active);
  }
}

.activeTab {
  background-color: colors.css-color(lime);
  transform: translateY(0);

  &:hover, &:focus {
    background-color: colors.css-color(lime, $modifier: hover);
  }

  &:active {
    background-color: colors.css-color(lime, $modifier: active);
  }
}

.tabs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-bottom: 1.5rem;
  align-items: center;
  display: grid;
}

.dots {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1rem);
}

.dot {
  border-radius: 999px;
  width: 1rem;
  height: 1rem;
}

.red-dot {
  background-color: colors.css-color(red);
}

.yellow-dot {
  background-color: colors.css-color(yellow);
}

.green-dot {
  background-color: colors.css-color(lime);
}